<div class="navBody bg-4 text-color-1">
    <span>
        <a routerLink="/">
            <img
                src=""
                alt="Main logo">
        </a>
    </span>

    <div class="navOptions">
        <div class="w-100">
            <form action="">
                <input class="nborder" type="text" name="" id="" placeholder="Buscar producto...">
                <button class="nborder">S</button>
            </form>
        </div>
        <div class="w-100">
            <ul>
                <li>Option</li>
                <li>Option</li>
                <li>Option</li>
                <li>Option</li>
            </ul>
        </div>
    </div>
    <div class="navaccount" routerLink="auth/login">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png" alt="">
        <p>My account</p>
    </div>
</div>