<h2 class="title">{{name}}</h2>
<h3 class="non-disponible-text">${{price.toFixed(2)}} MXN</h3>
<ng-container *ngIf="disponibility; else nonDisponible">
    <h3 class="disponible-text">Disponible</h3>
</ng-container>
<ng-template #nonDisponible>
    <h3 class="non-disponible-text">No Disponible</h3>
</ng-template>
<form action="" class="v-flex justify-around">
    <div class="h-flex product-number">
        <ng-container *ngIf="disponibility">
            <button>-
            </button>
            <input type="number" name="" id="" value="1" min="1" [max]="stock">
            <button>+
            </button>
        </ng-container>
    </div>
    <button *ngIf="disponibility" class="bg-3 text-color-1 btn-shop" disabled>Comprar ahora</button>
    <button *ngIf="disponibility" class="bg-2 text-color-3 btn-shop" disabled>Agregar al carrito</button>
</form>