
.category-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.category-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.category-card> span{
    font-weight: 600;
    font-size: 15px;
}
.category-card:hover{
    background-color: #276678;
    text-decoration: underline white;
    cursor: pointer;
}
