.container {
    align-items: center;
    justify-content: space-between;
}

.container>button {
    z-index: 1;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

.container>button:hover {
    opacity: 0.5;
    cursor: pointer;
}

svg {
    margin: 5px;
}

.slider {
    overflow-x: scroll;
    margin: 0 1rem;
}

.slider>img {
    padding: 0.5rem;
    height: 7rem;
    opacity: 0.5;
}

.slider>img:hover {
    cursor: pointer;
}

.slider>.active {
    opacity: 1.0;
}

.slider::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE and Edge */
.slider {
    -ms-overflow-style: none;
}

.fzimage>img {
    height: 30rem;
    margin-bottom: 2rem;
}

.btnarrow {
    width: 10rem;
}
