
<div class="container flex">
    <div class="title h-flex">
        <h4>Descripcion</h4>
        <h4>Caracteristicas</h4>
    </div>
    <div class="h-flex">
        <div class="info description w-50">
            {{description}}
        </div>
        <div id="features" class="info features w-50">
            <table>
                <tr *ngFor="let key of keys; let i = index" >
                    <ng-container *ngIf="i%2 == 0; else elseTemplate">
                        <td class="bg-4">{{keys[i]}}</td>
                        <td class="bg-4">{{values[i]}}</td>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <td class="bg-2">{{keys[i]}}</td>
                        <td class="bg-2">{{values[i]}}</td>
                    </ng-template>
                </tr>
            </table>
        </div>
    </div>
</div>