<app-navigation></app-navigation>
<app-slider></app-slider>
<hr />
<br />
<br />
<div class="hcenter body">
	<app-card-product *ngFor="let product of products"
		[name] = "product.name"
		[price] = "product.price"
		[id] = "product.id">
	</app-card-product>
</div>
<div class="hcenter category-body">
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
</div>
<br />
<br />
<hr />
<app-footer></app-footer>
