<app-navigation></app-navigation>
<app-slider></app-slider>
<hr />
<br />
<br />
<div class="hcenter body">
	<app-card-product></app-card-product>
	<app-card-product></app-card-product>
	<app-card-product></app-card-product>
	<app-card-product></app-card-product>
	<app-card-product></app-card-product>
	<app-card-product></app-card-product>
	<app-card-product></app-card-product>
	<app-card-product></app-card-product>
</div>
<div class="hcenter category-body">
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
	<app-category></app-category>
</div>
<br />
<br />
<hr />
<app-footer></app-footer>
