<a routerLink="/">Go landing page</a>
<form class="container rgshadow">
	<div class="rgflex rgcol rgContainer">
		<h1 class="rgfamily rgtitle">Create New Account</h1>
		<div class="rgflex">
			<div class="rgdiv">
				<label for="name" class="rglabel rgfamily">NAME:</label>
				<input type="text" name="name" placeholder="Name" class="rgshadow" />
			</div>
			<div class="rgdiv">
				<label for="lastname" class="rglabel rgfamily">LAST NAME:</label>
				<div class="rgfloat">
					<input
						type="text"
						name="lastname"
						placeholder="Last name"
						class="rgshadow"
					/>
				</div>
			</div>
		</div>
		
		<label for="email" class="rglabel rgfamily">EMAIL:</label>
		<input type="email" name="email" placeholder="Email" class="rgshadow" />

		<label for="password" class="rglabel rgfamily">PASSWORD:</label>
		<input
			type="password"
			name="password"
			placeholder="Password"
			class="rgshadow"
		/>

		<label for="cpassword" class="rglabel rgfamily">CONFIRM PASSWORD:</label>
		<input
			type="password"
			name="cpassword"
			placeholder="Confirm password"
			class="rgshadow"
		/>

		<button class="rgbtn rgshadow">Sign In</button>
	</div>
</form>
