.rgflex {
  display: flex;
}
.rgcol {
  flex-direction: column;
}
.rgrow {
  flex-direction: row;
}
.rgfamily {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.rgshadow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.rgtitle {
  display: block;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rgContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0px auto;
  padding-top: 1rem;
}

.rgflex {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container {
  width: 40%;
  height: 600px;
  border-radius: 50px;
  background-color: #1687a7;
  margin: 0px auto;
}

.rgdiv {
  display: flex;
  flex-direction: column;
}
/* .rgdiv > div {
    width: 50%;
  } */

.rglabel {
  margin-top: 1rem;
  font-size: 18px;
  color: #f6f5f5;
  font-weight: 500;
}

input[name="name"],
input[name="lastname"] {
  border: 0px;
  margin-top: 1rem;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  background-color: #f6f5f5;
  padding: 5px;
  padding-left: 15px;
  line-height: 18px;
  transition: all 100ms;
}

input[name="email"],
input[name="password"],
input[name="cpassword"] {
  border: 0px;
  margin-top: 1rem;
  background-color: #f6f5f5;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  padding-left: 15px;
  line-height: 18px;
  transition: all 100ms;
}

input[name="name"]:focus,
input[name="lastname"]:focus,
input[name="email"]:focus,
input[name="password"]:focus,
input[name="cpassword"]:focus {
  outline: solid #1b4753;
}

.rgbtn {
  margin: 0px auto;
  font-size:18px;
  font-weight: 500;
  color: #f6f5f5;
  margin-top: 50px;
  border: 0px;
  width: 250px;
  height: 40px;
  border-radius: 50px;
  background-color: #276678;
}
.rgfloat {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.rgbtn:hover {
  background-color: #15363f;
  cursor: pointer;
}
