<form class="register container">
  <div class="rgContainer">
    <div class="rgflex">
      <div class="rgdiv">
        <label for="name" class="rglabel">NAME:</label>
        <input type="text" name="name" placeholder="NAME" />
      </div>
      <div class="rgdiv">
        <label for="lastname" class="rglabel">LAST NAME:</label>
        <input type="text" name="lastname" placeholder="LAST" />
      </div>
    </div>
    <label for="email" class="rglabel">EMAIL:</label>
    <input type="email" name="email" />

    <label for="password" class="rglabel">PASSWORD:</label>
    <input type="password" name="password" />

    <label for="cpassword" class="rglabel">CONFIRM PASSWORD:</label>
    <input type="password" name="cpassword" />
  </div>
</form>
